* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}


.controls {
  margin-bottom: 20px;
}

.controls select {
  margin-right: 10px;
  padding: 5px;
}

.kanban-board {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.column {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
}

.column h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}
.navbar{
 background-color: #fff;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 height: 64px;
 padding-left: 12px ;
 padding-right: 12px;
 display: flex;
 align-items: center;
}

.navbar button {
  margin-top: 12px;
}